/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { 
	-moz-user-select: none !important; 
	-webkit-touch-callout: none !important; 
	-webkit-user-select: none !important; 
	-khtml-user-select: none !important; 
	-moz-user-select: none !important; 
	-ms-user-select: none !important; 
	user-select: none !important; 
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: #5bbb40;
}
/* END RESET CSS */
body {
	background: #bfbfbf;
}
#wrapper.boxed {
    width: 1000px;
    margin: 15px auto 0;
    background: #fff;
    box-shadow: 0 0 25px rgba(50, 50, 50, 0.75);
    font-size: 14px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}
.theme-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}
.main-menu {
	position: relative;
	height: 35px;
	margin-bottom: 6px;
}
.main-menu .menu {
	margin-left: 1px;
}
.main-menu .menu li {
	float: left;
}
.main-menu a, .main-menu a:link, .main-menu a:visited {
    display: block;
    font-weight: bold;
    font-size: 13px;
    background: #5bbb40;
    padding: 11px 10px;
    color: #fff;
    margin-right: 1px;
    border-radius: 3px 3px 0 0;
	text-transform: uppercase;
}
.main-menu .menu li.current-menu-item a,
.main-menu a:hover {
	color: #000;
}
.search-box {
    position: absolute;
    right: 2px;
    height: 35px;
    line-height: 35px;
    background-color: #5bbb40;
    color: red;
}
.searchform {
    width: 140px;
    text-align: right;
    padding: 0 3px 0 0;
    float: right;
    padding: 5px 4px;
    height: 20px;
    margin-right: 1px;
}
.searchform input[type="text"] {
    text-align: left;
    font-size: 11px;
    font-family: Arial;
    width: 100px;
    height: 25px;
    line-height: 18px;
    padding: 0 4px;
    float: left;
    border: none;
}
.searchform input[type="submit"] {
    background: url(images/search.png) no-repeat;
    background-position: top center;
    width: 30px;
    border: none;
    cursor: pointer;
    height: 30px;
    margin-top: 3px;
}
.sidebar {
	float: left;
    width: 210px;
    margin: 0;
	margin-right: 3px;
}
.content {
	float: left;
    width: 760px;
    margin-left: 15px;
}
.title {
	background: url('images/box-heading-left.png') no-repeat;
    color: #fff;
    text-align: center;
    height: 46px;
    width: 210px;
    line-height: 30px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.title a {
	font-size: 12px;
    color: #fff;
    text-decoration: none;
	text-transform: uppercase;
}

.sidebar .box_body  {
	margin-left: 10px;
    border: 1px solid #BFBFBF;
    border-top: 0;
    background: #fff;
    margin-top: -11px;
    margin-bottom: 20px;
}
.sidebar .menu_sidebar li a {
    display: block;
    padding: 8px;
    color: #2b2b2b;
    font-size: 14px;
    border-bottom: 1px solid #BFBFBF;
}
.sidebar .menu_sidebar li a:hover {
    color: #fff;
    background: #BFBFBF;
}
.entry-title {
    width: 100%;
    height: 38px;
    margin: 0;
    border-bottom: 2px solid #5BBB40;
}
.entry-title h2 {
    background-color: #5bbb40;
    line-height: 38px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
}
.entry-title h2 a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
.entry-title h2:after{
	content: "";
    border-top: 0px solid #5bbb40;
    border-bottom: 40px solid #5bbb40;
    border-right: 40px solid transparent;
    position: absolute;
    right: -40px;
    top: 0;
}
.box-body {
    overflow: hidden;
    padding: 10px 10px 17px 10px;
    background: none;
    border: 1px solid #ccc;
    border-top: 0;
    margin: 0;
    margin-bottom: 20px;
    line-height: 16px;
}
.main-content {
    margin-top: 10px;
}
.footer {
    background-color: #f4f3ef;
}
.product li {
    width: 238px;
    position: relative;
    margin: 0 0px 5px 5px;
    border: 1px solid #ccc;
    float: left;
    display: block;
    min-height: 240px;
}
.product img {
    max-width: 235px;
    padding: 8px 10px;
    width: 220px;
    height: 180px;
}
.product a h3 {
    color: #5bbb40;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px 5px;
    text-align: center;
}
.box-body .desciption {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 6px;
}
.navigation {
    overflow: hidden;
    margin-bottom: 10px;
}
.navigation a {
    font-weight: bold;
}
.nav-previous {
    margin-right: 20px;
}
.red {
    color: rgb(230, 10, 18);
    font-weight: bold;
}
.news {
    overflow: hidden;
}
.news li img {
    float: left;
    width: 60px;
    height: 50px;
}
.news li {
    margin: 7px 5px;
    padding-bottom: 5px;
    text-align: left;
    overflow: hidden;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}
.sidebar .news.box_body li {
    display: inline-block;
    list-style: none;
}
.sidebar .news.box_body li a span {
    display: block;
    padding-left: 65px;
}
.news li a {
    color: #1322ee;
    font-size: 13px;
}
.news li a:hover {
    color: #4396ca; 
}
.news li a span {
    
}
.textwidget {
    padding: 10px 0;
}
#BottomLayer {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    right: 0;
    float: right;
}
#BottomLayer .bb {
    background-color: #172f98;
    font-weight: 700;
    color: #fff;
    padding: 2px 0 2px 7px;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    text-align: left;
}
#BottomLayer .icon {
    background-image: url(images/button.gif);
    background-repeat: no-repeat;
    width: 30px;
    height: 0;
    padding-top: 15px;
    overflow: hidden;
    float: right;
    margin: 5px 5px 0 0;
    cursor: pointer;
}
#BottomLayer .min {
    background-position: center top;
}
#BottomLayer .min:hover {
    background-position: center bottom;
}
#BottomLayer .max {
    background-position: right top;
}
#BottomLayer .max:hover {
    background-position: right bottom;
}
#BottomLayer .bb {
    width: 164px;
}
#BottomLayer .clearfix {
    width: 151px;
    background-color: #FFF;
    padding: 0 10px;
    color: #5bbb40;
    font-weight: bold;
    font-style: italic;
    line-height: 26px;
    font-size: 22px;
}
.detail_news .content_news {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}
.product header h1, 
.detail_news h1 {
    margin: 5px 0 7px;
    font-size: 18px;
}
.other_news h3 {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: #004175;
    border-bottom: 2px solid #047fcd;
}
.other_news ul {
    padding: 5px;
    margin-left: 20px;
}
.other_news ul li {
    display: list-item;
    list-style: disc;
    color: red;
    line-height: 18px;
}
.other_news ul li a {
    color: #666;
}
.other_news ul li a:hover {
    text-decoration: underline;
}
.detail_product .box_img {
    background: #fff;
    width: 268px;
    height: 236px;
    overflow: hidden;
    border: 1px solid #d2d2d2;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.detail_product .info {
    float: left;
    margin-left: 20px;
    width: 440px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 20px;
}
.detail_product .info h1 {
    font-size: 20px;
    line-height: 28px;
}
.detail_product .info .price {
    margin: 10px 0;
}
.detail_product .info h4 {
    font-size: 16px;
    color: #0000FF;
}
.product .entry-content {
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}
.buttonCart {
    float: right;
    margin-top: 15px;
    margin-right: 8px;
    padding-left: 20px;
    line-height: 38px;
    height: 38px;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: #888 1px 1px 2px;
    background: -webkit-linear-gradient(top, #e2760f 1%, #e56315 98%);
    background: -moz-linear-gradient(top, #e2760f 1%, #e56315 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2760f', endColorstr='#e56315');
    background-color: #e2760f;
}
.buttonCart a {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.buttonCart span {
    display: block;
    background: url(images/icon-addcart.png) no-repeat center 4px;
    float: right;
    width: 60px;
    height: 40px;
}
.form_contact {
    padding: 20px 0;
}
.form_contact input,
.form_contact textarea {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 10px;
    letter-spacing: normal;
    border: 1px solid #999;
    border-radius: 3px;
}
.form_contact p {
    margin: 10px 0;
    font-weight: 700;
    line-height: 24px;
    clear: both;
}
.split_home {
    overflow: hidden;
}
.col-6 {
    width: 50%; 
    float: left;
}
.split_home .news li {
    width: 48%;
    float: left;
}
.detail_product img {
    max-width: 235px;
    padding: 8px 10px;
    width: 220px;
    height: 180px;
}
.entry-content {
    line-height: 18px;
    font-size: 14px;
    margin-top: 15px;
}
.box-body header h1 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}
.box-body .entry-content img {
   margin: 10px auto;
   display: block;
}
.logo {
    padding: 0 15px;
}
#toTop {
    width: 100px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 105px;
    right: 20px;
    cursor: pointer;
    display: none;
    color: #333;
    font-size: 13px;
    z-index: 9999999;
}
.header_title {
    color: rgb(0, 0, 255);
    margin-top: 10px;
    margin-right: 65px;
    text-align: center;
}
.header_title h2 {
    font-size: 30px;
    line-height: 36px;
}
.header_title h3 {
    font-size: 24px;
    line-height: 28px;
}
.header_title h4 {
    font-size: 18px;
    line-height: 20px;
}
.support {
    
}
.support p {
    color: #FFF;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
}
.news.box_news li img {
    width: 100px;
    height: 70px;
}

.news.box_news li {
    display: inline-block;
    width: 48%;
    float: left;
}
.news.box_news li h3 {
    padding-left: 110px;
}
.adv {
    position: fixed;
    left: 0;
    top: 15px;
}
.adv.adv2 {
    right: 0;
    left: inherit;
}
.feature .entry-title h2 {
	text-transform: uppercase;
}